@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap');

@media screen and (max-width: 1280px) {
    .mainContainer {
        max-width: 80vw;
    }
}

:root {
    --almost-black: #17191D;
    --black: #060709;
    --red: #B01712;
    --dark-red: #550F0D;
    --light-grey: #A49FA1;
    --dark-grey: #3D3F41;
    --ultradark-grey: rgba(44, 44, 46, 0.75);
    --T-ultradark-grey: rgba(1, 1, 2, 0.25);
    --grey: #887F81;
    --silver: rgb(229, 229, 234);
    --white: rgb(242, 242, 247);
    --green: #69a838;
    --blue: #8ca1b8;
}

::placeholder {
    color: var(--grey);
    opacity: 50%;
}

html {
    background: rgb(77, 82, 88);
    background: linear-gradient(135deg, var(--grey) 0%, var(--dark-grey) 52%);
    min-height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 1rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
}

header{
    text-align: center;
}

header h1{
    font-family: 'Open Sans', sans-serif;
    color: var(--green);
}

header h3{
    color: var(--blue);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    margin: 1rem;
    border: 1px groove var(--light-grey);
}

.mainContainer {
    margin: 2rem auto;
    text-align: center;
    background-color: var(--dark-grey);
    background: linear-gradient(135deg, var(--dark-grey) 0%, var(--almost-black) 80%);
    color: var(--silver);
    max-width: 75vw;
    max-height: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px var(--black);
}

.input-box {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: var(--dark-grey);
    background: linear-gradient(135deg, var(--dark-grey) 0%, var(--ultradark-grey) 100%);
    color: var(--silver);
    box-shadow: 1px 1px 5px 2px var(--almost-black);
    transition: all 250ms ease-in-out;
}

.input-box:focus {
    caret-color: var(--light-grey);
    outline-style: none;
    background-color: var(--grey);
    box-shadow: 1px 1px 2px 1px var(--almost-black);
    transition: all 250ms ease-in-out;
}

.input-box:hover {
    box-shadow: 0px 0px 3px 2px var(--ultradark-grey);
    transition: all 250 ease-in-out;
}

.input-box:disabled {
    opacity: 25%;
    transition: all 250ms ease-in-out;
}

.btn-enter {
    padding: 0.55rem 0.8rem 0.45rem 0.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--silver);
    border: none;
    border-radius: 2rem;
    background-color: var(--dark-grey);
    background: linear-gradient(135deg, var(--dark-grey) 0%, var(--ultradark-grey) 100%);
    box-shadow: 1px 1px 5px 2px var(--almost-black);
    transition: all 250ms ease-in-out;
}

.btn-enter:hover {
    color: var(--green);
    background-color: var(--T-ultradark-grey);
    box-shadow: 0px 0px 3px var(--dark-grey);
    transition: all 250ms ease-in-out;
}

.btn-enter:active {
    box-shadow: none;
}

.btn-enter:focus {
    outline: none;
}

.btn-enter:disabled {
    opacity: 25%;
    color: var(--dark-red);
}

.btn-enter:disabled:hover {
    color: var(--silver);
    background-color: var(--dark-grey);
    box-shadow: 1px 1px 5px 2px var(--almost-black);
    transition: all 250ms ease-in-out;
}

.status-bar {
    transition: all 250ms ease-in-out;
}

.output-box {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    min-height: 3rem;
    transition: all 250ms ease-in-out;
    padding: 0.5rem;
    opacity: 0%;
    text-align: center;
    transition: all 250ms;
}

#portfolio-link{
    max-width: 5vw;
    border-radius: 2rem;
}

#portfolio-link:hover{
    box-shadow: 0px 0px 5px var(--ultradark-grey);
}

#portfolio-link:active{
    box-shadow: none;
}